<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>LDAP Auth</display-name>
 	
 	<security-constraint>
   		<web-resource-collection>
     		<web-resource-name>ldapauth</web-resource-name>
     		<url-pattern>/*</url-pattern>
   		</web-resource-collection>
   		
   		<user-data-constraint>
     		<transport-guarantee>NONE</transport-guarantee>
   		</user-data-constraint>
 	</security-constraint>
  	
  	<servlet>
    	<servlet-name>ldapauth-service</servlet-name>

    	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

    	<init-param>
      		<param-name>jersey.config.server.provider.packages</param-name>
      		<param-value>br.edu.utfpr.dv.ldapauth.service</param-value>
    	</init-param>
    	
    	<init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>br.edu.utfpr.dv.ldapauth.service.JerseyApplication</param-value>
        </init-param>  
    	
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  	
  	<servlet-mapping>
    	<servlet-name>ldapauth-service</servlet-name>
    	<url-pattern>/service/*</url-pattern>
  	</servlet-mapping>
</web-app>